<div class="about3-section-area sp1">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6">
        <div class="row align-items-center">
          <div class="col-lg-6 col-md-6">
            <div class="images">
              <img src="assets/img/elements/elements27.png" alt="" class="elements27">
              <img src="assets/img/elements/elements28.png" alt="" class="elements28">
              <div class="img1 image-anime reveal" appGsapReveal>
                <img src="assets/img/all-images/about/about-img5.png" alt="">
              </div>
            </div>
            <div class="space30 d-md-none d-block"></div>
          </div>

          <div class="col-lg-6 col-md-6">
            <div class="img1 image-anime reveal" appGsapReveal>
              <img src="assets/img/all-images/about/about-img6.png" alt="">
            </div>
            <div class="space30"></div>
            <div class="img1 image-anime reveal" appGsapReveal>
              <img src="assets/img/all-images/about/about-img7.png" alt="">
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-6">
        <div class="about-header-area heading5">
          <h5 data-aos="fade-left" data-aos-duration="700"><img src="assets/img/icons/sub-logo3.png" alt=""> SOBRE A BELTRÃONET</h5>
          <div class="space20"></div>
          <h2 class="text-anime-style-3">Conexão Garantida Sempre que Você Precisar</h2>
          <div class="space18"></div>
          <p data-aos="fade-left" data-aos-duration="800">Na Beltrãonet, nosso time está pronto para garantir que sua conexão nunca te deixe na mão. Nossa equipe de suporte é formada por profissionais qualificados, preparados para oferecer soluções rápidas, seguras e com foco total em você.</p>
          <div class="space16"></div>
          <div class="row" data-aos="fade-left" data-aos-duration="900">
            <div class="col-lg-6">
              <ul>
                <li><img src="assets/img/icons/check3.svg" alt="">Compromisso </li>
                <li><img src="assets/img/icons/check3.svg" alt="">Tecnologia de ponta </li>
              </ul>
            </div>
            <div class="col-lg-6">
              <ul>
                <li><img src="assets/img/icons/check3.svg" alt="">Atendimento Humanizado</li>
                <li><img src="assets/img/icons/check3.svg" alt="">Equipe Técnica Especializada</li>
              </ul>
            </div>
          </div>
          <div class="space32"></div>
          <div class="btn-area1" data-aos="fade-left" data-aos-duration="1100">
            <a routerLink="/pages/contact" class="vl-btn4">Ver Planos</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>