<div [class]="mobileMenuClass">
    <div class="vl-offcanvas" [ngClass]="{ 'vl-offcanvas-open': isMobileMenuOpen }">
        <div class="vl-offcanvas-wrapper">
            <div class="vl-offcanvas-header d-flex justify-content-between align-items-center mb-90">
                <div class="vl-offcanvas-logo">
                    <a routerLink="/home-1"><img src="assets/img/logo/logo1.png" alt=""></a>
                </div>
                <div class="vl-offcanvas-close">
                    <button class="vl-offcanvas-close-toggle" (click)="toggleMobileMenu()" title="Close menu" aria-label="Close menu"><i
                            class="fa-solid fa-xmark"></i></button>
                </div>
            </div>

            <div class="vl-offcanvas-menu d-lg-none mb-40">
                <nav>
                    <ul>
                        @for (item of megaMenu; track $index) {
                        <li class="has-dropdown" [ngClass]="{ 'active': menuOpen }">
                            <a href="/" (click)="toggleMenu()">Home
                            </a>

                            

                            
                        </li>
                        }
                       <div class="space40"></div>
                    </ul>
                </nav>
            </div>

            <div class="space20"></div>
            <div class="vl-offcanvas-info">
                <h3 class="vl-offcanvas-sm-title">Ente em Contato</h3>
                <div class="space20"></div>
                <span><a href="javascript:void(0)"><i class="fa-regular fa-envelope"></i>(46) 3520-1500</a></span>
                <span><a href="javascript:void(0)"><i class="fa-solid fa-phone"></i>contatobeltraonet.com.br</a></span>
                <span><a href="javascript:void(0)"><i class="fa-solid fa-location-dot"></i>Rua Florianópolis, 433 - Alvorada
Francisco Beltrão, Paraná</a></span>
            </div>
            <div class="space20"></div>
            <div class="vl-offcanvas-social">
                <h3 class="vl-offcanvas-sm-title">Nós Siga</h3>
                <div class="space20"></div>
                <a href="https://www.facebook.com/beltraonet" title="Facebook"><i class="fab fa-facebook-f"></i></a>             
                <a href="https://www.instagram.com/beltraonet/" title="Instagram"><i class="fab fa-instagram"></i></a>
                <a href="https://api.whatsapp.com/send?phone=554635201501&text=Ol%C3%A1,%20preciso%20de%20ajuda." title="WhatsApp"><i class="fab fa-whatsapp"></i></a>
            </div>

        </div>
    </div>
    <div class="vl-offcanvas-overlay" [ngClass]="{ 'vl-offcanvas-overlay-open': isMobileMenuOpen }"
        (click)="toggleMobileMenu()"></div>
</div>