<div class="works3-section-area sp2">
  <div class="container">
    <div class="row">
      <div class="col-lg-7 m-auto">
        <div class="work-header text-center space-margin60 heading5">
          <h5><img src="assets/img/icons/sub-logo3.png" alt=""> COMO FUNCIONA</h5>
          <div class="space20"></div>
          <h2 class="text-anime-style-3">Conecte-se com a Beltrãonet em 3 Passos Simples!</h2>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-4 col-md-6" data-aos="zoom-in" data-aos-duration="800">
        <div class="works-single-boxarea">
          <div class="icons">
            <img src="assets/img/icons/work-icon2.svg" alt="">
          </div>
          <div class="space20"></div>
          <div class="content-area">
            <a routerLink="/services/single">Escolha Seu Plano</a>
            <div class="space16"></div>
            <p>Veja as opções disponíveis no nosso site e escolha o plano de internet ideal para sua casa ou empresa.

</p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6" data-aos="zoom-in" data-aos-duration="1000">
        <div class="space30 d-lg-block d-none"></div>
        <div class="works-single-boxarea">
          <div class="icons">
            <img src="assets/img/icons/work-icon1.svg" alt="">
          </div>
          <div class="space20"></div>
          <div class="content-area">
            <a routerLink="/services/single">Fale com a Gente</a>
            <div class="space16"></div>
            <p>Entre em contato pelo WhatsApp, telefone ou formulário. Nossa equipe vai tirar suas dúvidas e confirmar seus dados..</p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6" data-aos="zoom-in" data-aos-duration="1200">
        <div class="space60 d-lg-block d-none"></div>
        <div class="works-single-boxarea">
          <div class="icons">
            <img src="assets/img/icons/work-icon3.svg" alt="">
          </div>
          <div class="space20"></div>
          <div class="content-area">
            <a routerLink="/services/single">Instalação Rápida</a>
            <div class="space16"></div>
            <p>Agendamos a visita e instalamos sua internet com agilidade. Pronto! Agora é só navegar com qualidade.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>